@charset "utf-8";
/* CSS Document */
#tip{
	padding:20px;
    width: 200px;
	border-radius:25px;/*圆角*/
	background-color:#3598DB;
 	opacity:0.5;
	color:#FFFFFF;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:50%;
	margin-left:-100px;
	text-align:center;
	
}
#zhongyi{
	background-repeat:no-repeat;
	/*background-attachment:fixed;固定图像*/
	min-height:300px;
	min-width:450px;
}
#zhengfu{
	background-repeat:no-repeat;
	/*background-attachment:fixed;固定图像*/
	min-height:300px;
	min-width:450px;
}
#qiye{
	background-repeat:no-repeat;
	/*background-attachment:fixed;固定图像*/
	min-height:300px;
	min-width:900px;
}
#qunzhong{
	background-repeat:no-repeat;
	/*background-attachment:fixed;固定图像*/
	min-height:300px;
	min-width:900px;
}